@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Oswald');


//colors
$white: #f0f5f9 ;
$content: #c9d6de  ;
$font: #52616a ;
$shadow:#1e2022;
$red: #F16B6F;

//fonts
$headerFont: 'Special Elite', cursive;
$bodyFont: 'Oswald', sans-serif;


* {
  margin: auto;
  line-height: normal;
  color: $font;
}

body {
  background-color: $white;
}

#header {
  padding-top: 50px;
  color: $headerFont;
  background-color: $content;
  text-shadow: 2px 1px $red;
  box-shadow: 5px 5px 3px #888888;
  text-align: center;
  font-family: $headerFont;
}

#skyline{
  width: 100%;
  z-index: -1;
}

#subheader{
  z-index: auto;
}

#pic{
  border-radius: 55%;
  height: 225px;
  width: 225px;
  box-shadow: 5px 5px 3px #888888;
  border: 1px #000 solid;
  flex: center;
}

#nav{
  font-family: $headerFont;
  background-color: $font; 
}

#nav a{
  color: $white;
}

#nav a:hover{
  color: $shadow;
}

// navbar fades on scroll -- see main.js for jquery function
#nav {
    transition: all 0.6s ease-out;
}

#nav {
    transition: opacity 0.25s;
}

.navbar-fixed {
    opacity: 0.75
}

.navbar-trans {
    opacity: 1;
}

h1{
  font-size: 72px;
  text-shadow: 2px 2px $red;
}

h3 {
  text-align: center;
  text-shadow: 1px 1.5px $red;
  font-family: $headerFont;
}

p {
  font-family: $bodyFont;
}

#about{
  margin-top: 100px;
}

.tech {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
}

.tech-img {
  text-align: center;
  font-size: 3.75em;
  margin: auto;
  text-shadow: 1px 1px 5px darkslategray;
}

.techText{
  margin: 12px;
  padding: 12px;
  text-align: justify;
}

.content {
  margin: 55px;
  padding-top: 3px;
  padding-bottom: 2.75px;
  background-color: $content;
  box-shadow: 5px 5px 3px #888888;
  border-radius: 3px;
}

.contact {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
  align-items: center;
  justify-content: center;
}

.projects {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
  margin: 12px;
  padding: 10px;
}

.contentText{
  margin: 12px;
  padding: 11px;
  font-size: 16px;
}

.projTitle{
  text-align: center;
  font-family: $headerFont;
  color: $font;
  text-shadow: 1px 1px $red;
  font-weight: 600;
  font-size: 25px;
}


.projectImg{
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 3px #888888;
  border-radius: 5px;
  transition: 0.3s;
}

.projectImg:hover{
  opacity: 0.7;
}

#contact-imgs {
  margin: auto;
  margin: 3px 3px;
}

footer {
  margin-top: 105px;
  padding: 10px 8px;
  background-color: $content;
  text-align: center;
}

.footer_img {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 768px){
  .projectImg{
    width: 100%;
  }

  #header{
    width: 100%;
  }

}