//colors
$bgColor: #f4f5f9;
$fontColor:#3f4040;

//box-shadow mixin
@mixin box-shadow{
    box-shadow: -2px 3px 9px 0px rgba(50, 50, 50, 0.47);
}

body{
    background: $bgColor;
    color: $fontColor;
}

.navbar{
    position: fixed;
    width: 100%;
}

.nav-icons{
    padding: 4px;
}

.nav-icons{
    .fa:hover{
        text-decoration: none;
        color: #fff;
    }
}

.header{
    text-align: center;
    margin: auto;
    padding-top: 70px;
    text-shadow: .5px .5px #ccc;
}


.header-img{
    width: 100%;
}

.section{
    @include box-shadow();
    margin: 35px;
    padding: 4px;
    z-index: 250;
}

.icons{
    margin: auto;
    padding: 8px;
}

.tech-icon{
    height: 75px;
    width: 75px;
    padding: 7px;
    margin: 8px;
}

.tech-icon:hover{
    height: 100px;
    width: 100px;
}

.section-header{
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

#portfolio{
    display: block;
}

.port-img{
    @include box-shadow();
    display: block;
    margin: auto;
    padding-top: 9px;
    height: 300px;
    width: 425px;
}

.contact-body{
    text-align: center;
}

#footer{
    text-align: center;
    background: #343A40;
    color: white;
    margin-top: 65px;
}