@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Roboto');


//colors
$white: #f0f5f9 ;
$content: #c9d6de  ;
$font: #52616a ;
$shadow:#1e2022  ;

//fonts
$headerFont: 'Special Elite', cursive;
$bodyFont: 'Roboto', sans-serif;


* {
  margin: auto;
  line-height: normal;
  color: $font;
}

body {
  background-color: $white;
}

#header {
  color: $headerFont;
  text-shadow: 2px 1px $shadow;
  text-align: center;
  font-family: $headerFont;
}

h1{
  font-size: 72px;
  text-shadow: 2px 2px $shadow;
}

h3 {
  text-align: center;
  text-shadow: 1px 1.5px $shadow;
  font-family: $headerFont;
}

p {
  font-family: $bodyFont;
}

.stinger {
  text-align: center;
  font-weight: 600;
}

.tech {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
}

.tech-img {
  text-align: center;
  font-size: 3.25em;
  margin: auto;
}

.content {
  margin: 55px;
  background-color: $content;
  box-shadow: 5px 5px 3px #888888;
}

.contact {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
  align-items: center;
  justify-content: center;
}

.projects {
  border-radius: 1.5%;
  margin: 55px;
  background-color: $content;
  margin: 12px;
  padding: 10px;
}

.contentText{
  margin: 12px;
  padding: 11px;
}

.projTitle{
  text-align: center;
  font-family: $headerFont;
  text-shadow: 0.25px 0.75px $shadow;
}

#contact-imgs {
  margin: auto;
  margin: 3px 3px;
}

footer {
  margin-top: 105px;
  padding: 10px 8px;
  background-color: $content;
  text-align: center;
}

.footer_img {
  width: 32px;
  height: 32px;
}